<form>
  <div class="form-row align-items-center">
    <div class="col-sm-3 my-1">
      <label class="sr-only" for="inlineFormImputName">Nome</label>
      <input type="text" class="form-control" id="inlineFormImputName" placeholder="Digite seu nome">
    </div>
    <div class="col-sm-3 my-1">
      <label class="sr-only" for="inlineFormImputGroupUsername">CPF</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
      </div>
    </div>
  </div>
</form>
