<div class="loginform">


      <input type="text" placeholder="Name" class="usuario"><br>
      <input type="password" placeholder="SobreNome" class="usuario"><br>
      <input type="password" placeholder="CPF" class="usuario"><br>
      <input type="text" placeholder="E-mail" class="usuario"><br>
      <input type="password" placeholder="Confirmar E-mail" class="usuario"><br>
      <input type="password" placeholder="Password" class="usuario"><br>
      <input type="password" placeholder="Re-Password" class="usuario"><br>
      <br>
      <button type="submit" class="Enviar">Login</button>

  <br><br>
</div>
